<!DOCTYPE html>
<html lang="en">
<body>
<div id="howtodev" class="section section-dark text-center" style="background-color: #512323">
    <div class="container" style="max-width: 100%">
        <h2 class="title">HowToDev</h2>
        <div class="container-fluid">

            <div class="container" style="max-width: 1000px">
                <div class="row">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <p class="card-description text-center">
                                Under development. Here, I will show you a way to develop something using specific
                                technologies such as API with NodeJS, React Native, Spring Boot with Kotlin, Unity,
                                etc... See you soon! </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_byuzwmds.json"
                               id="playerHandler"
                               background="transparent"
                               mode="bounce"
                               speed="3"
                               loop="true"
                               autoplay="true"></lottie-player>
            </div>
            <!-- <div class="row">
                 &lt;!&ndash;API&ndash;&gt;
                 <div class="col-md-4">
                     <div class="card" data-background="image"
                          style="background-image: url('src/assets/images/coding1.jpg')">
                         <div class="card-body">
                             <h6 class="card-category" style="margin: 10px">Simple API</h6>
                             <label class="badge badge-pill badge-info">NodeJS</label>
                             <label class="badge badge-pill badge-info">TypeScript</label>
                             <label class="badge badge-pill badge-info">SOLID</label>
                             <label class="badge badge-pill badge-info">Prisma</label>
                             <p class="card-description">On this video you are goind to learn how to dev an API.</p>
                             <div class="card-footer">
                                 <a href="https://drive.google.com/file/d/16cXqbIbgP2GKVYka4Ol21yRhXZARUfF_/view?usp=sharing">
                                     <button type="button" class="btn btn-round btn-danger card-link"
                                             datasrc="https://www.freecodecamp.org/news/html-button-link-code-examples-how-to-make-html-hyperlinks-using-the-href-attribute-on-tags/">
                                         <i class="fa-solid fa-video" aria-hidden="true"></i> Watch
                                     </button>
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>-->
        </div>
    </div>
</div>
</body>
</html>
