<!DOCTYPE html>
<html lang="en">
<body>
<!--sidia-->
<div class="modal fade" id="sidia-modal" tabindex="-1" aria-labelledby="sidia-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sidia-modal-Label">SIDIA - Mobile</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2017 ~ 2021
                            <p><strong>Company</strong> - <a href="https://sidia.com/" target="_blank">SIDIA</a>
                            <p><strong>Category of work</strong> - Contract
                            <p><strong>Description</strong> - Here I used to provide services for Samsung where I worked
                                on the Requirements Team Group to develop and maintain features on the Android platform
                                for all Latin Carriers. There I had involvement with Java, Kotlin, C, Json, XML,
                                code debugging, and python to automate activities. In addition, I also used to apply new
                                features for Samsung applications, such as Contacts, S Planner, S Note, Clocks and
                                Keyboard. All my time there I worked on more than a hundred projects such as Galaxy S9,
                                Galaxy S10+, Galaxy A50, and so on.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">
                                <img src="src/assets/images/sidia-logo.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--wpl-->
<div class="modal fade" id="wpl-modal" tabindex="-1" aria-labelledby="wpl-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wpl-modal-Label">WPL - WEB</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2016 ~ Today
                            <p><strong>Company</strong> - HelpAmazon
                            <p><strong>Category of work</strong> - Freelance
                            <p><strong>Description</strong> - Sigwpl is a web application that I have been developing
                                since 2016 for HelpAmazon company as a Freelancer. This project controls departments of
                                a maritime company called Waldemiro P. Luztoza & Co., Ltd in Brazil where it helps the
                                company better organize its operations and optimize its business intelligence such as
                                maintenance, finance, transportation, reports, and so on.
                            </p>
                            <p>I have been working in the entire process of developing i.e.:
                            </p>
                            <ul>
                                <li>Collect requirements;&nbsp;</li>
                                <li>Planning;&nbsp;</li>
                                <li>Prototyping;</li>
                                <li>Implementation;&nbsp;</li>
                                <li>Testing;&nbsp;</li>
                                <li>Deployment.</li>
                            </ul>
                            <p>This project provided me with a solid understanding of full-stack development and project
                                management.</p>
                            <p><strong>Project Structure</strong> - MVC design pattern (Model-View-Controller)</p>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">
                                <img src="src/assets/images/sigwpl.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--vamospraonde-->
<div class="modal fade" id="vamospraonde-modal" tabindex="-1" aria-labelledby="vamospraonde-modal-Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vamospraonde-modal-Label">VAMOSPRAONDE - MOBILE</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2017 ~ Today
                            <p><strong>Company</strong> - AtaDigital
                            <p><strong>Category of work</strong> - Freelance
                            <p><strong>Description</strong> - &ldquo;Vamos pra onde?&rdquo; is a mobile application that
                                I&rsquo;ve been developing since 2017 and it could be called &ldquo;Where are we going?&rdquo;
                                in English. The project helped me to learn more about UI and different features for
                                Android SO.
                            <p>At the beginning of the project, I hosted my database in AmazonWS as a web application
                                where the data was consumed through JSON. However, I changed to Firebase service after 1
                                year and shut down AWS.</p>
                            <p>Recently this project has been in the process of migration for NodeJS as the back-end and
                                ReactNative as the front-end, thus learning more about these technologies and
                                facilitating my development for both mobile OS (Android and iOS). Moreover, it will be
                                deployed at Amazon
                                services.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">

                                <img src="src/assets/images/vamospraonde-logo.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="instruction">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="picture">
                                <a href="https://play.google.com/store/apps/details?id=br.com.atadigital.guiamanaus&hl=pt_BR"
                                   target="_blank">
                                    <img src="src/assets/images/google-play.png" alt="Thumbnail Image"
                                         class="img-rounded img-responsive"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--notary's office - web-->
<div class="modal fade" id="notary-modal" tabindex="-1" aria-labelledby="notary-modal-Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notary-modal-Label">notary's office - web</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2014 ~ 2015
                            <p><strong>Company</strong> - Buritech
                            <p><strong>Category of work</strong> - Internship
                            <p><strong>Description</strong> - It was my first professional project in web development
                                that I helped to develop in the Buritech company. This project controls the entire
                                process of a registry in the notary’s office (notary public).
                            <p>This project provided me with a solid understanding of how a professional project
                                works.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">
                                <img src="src/assets/images/notary-logo.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--cross road 3d-->
<div class="modal fade" id="cross-road-3d-modal" tabindex="-1" aria-labelledby="cross-road-3d-modal-Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cross-road-3d-modal-Label">CrossRoad3DFree - desktop</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2019
                            <p><strong>Description</strong> - It was a game that a develop through the course called
                                CrossyRoad3D by&nbsp;<a href="https://aprendaunity.com.br/"
                                                        target="_blank">AprendaUnity</a>
                                company. This means I had the opportunity to learn with a professional about how to plan
                                before starting developing
                                a game such as using MagicaVoxel and Blender to model Assets and how to develop
                                procedural scenarios. There are some
                                bugs in the project but you can play :P &nbsp;&nbsp;

                            <p><strong>Project Structure</strong> - MVC design pattern (Model-View-Controller)

                            <p><strong><a href="https://drive.google.com/open?id=1TOM3BvkG3VZtOZYQVr632LA7fYIBuxct"
                                          target="_blank">Download</a></strong>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">

                                <img src="src/assets/images/cross-road-3d.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--MegaManRunner-->
<div class="modal fade" id="megaman-runner-modal" tabindex="-1" aria-labelledby="megaman-runner-modal-Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="megaman-runner-modal-Label">CrossRoad3DFree - desktop</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Date</strong> - 2019
                            <p><strong>Description</strong> - It was my first Game project which helped me to learn how
                                to develop a game. In this game, you just need to jump and slash to avoid obstacles.

                            <p><strong>Project Structure</strong> - MVC design pattern (Model-View-Controller)

                            <p><strong><a href="https://drive.google.com/open?id=1TOM3BvkG3VZtOZYQVr632LA7fYIBuxct"
                                          target="_blank">Download</a></strong>
                        </div>
                        <div class="col-md-4">
                            <div class="picture">

                                <img src="src/assets/images/megaman-runner.png" alt="Thumbnail Image"
                                     class="img-rounded img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Digital Keys-->
<div class="modal fade" id="digital-keys-modal" tabindex="-1" aria-labelledby="digital-keys-modal-Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="digital-keys-modal-Label">Digital Keys market - web</h5>
            </div>
            <div class="modal-body modal-text">
                <div class="instruction">
                    <div class="row">
                        <div>
                            <p><strong>Date</strong> - 2022
                            <p><strong>Description</strong> - It was a project created by me to have an idea of working
                                with spring boot and at the same time to disclose some digital keys that I had to donate
                                or sell

                            <p><strong>Project Structure</strong> - NodeJS using TypeScript as back-end and a Spring
                                Boot project as front-end. API hosted on Amazon EC2 and front-and on Heroku

                            <p><strong><a href="https://digitalkeys.herokuapp.com/products"
                                          target="_blank">Link</a></strong> - It may open slowly because it is hosted on the US serve.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
