<!DOCTYPE html>
<html lang="en">
<body>
<div id="about-me" class="section section-dark text-center landing-section">
    <div class="container" style="max-width: 1000px">
        <h2 class="title">Let's talk about me</h2>
        <div class="row">
            <div class="card card-profile card-plain">
                <div class="card-avatar"><img src="https://avatars3.githubusercontent.com/u/6105149?s=460&v=4"
                                              alt="...">
                </div>
                <div class="card-body">
                    <a href="#paper-kit">
                        <div class="author">
                            <h4 class="card-title">Pablo Rodrigo de Souza Silva</h4>
                            <h6 class="card-category text-muted">Software Engineering</h6>
                        </div>
                    </a>
                    <p class="card-description text-center">
                        Hello! I’m Pablo Silva.I have more than six years of IT experience in different fields. I am
                        Software developer who uses frameworks for cost reduction and time-to-market. Experienced in
                        project management, customer relations and all stages of the development cycle for web and
                        mobile projects. Well-versed in numerous programming languages such as Java, Kotlin, SQL,
                        JavaScript, TypeScript, NodeJS and so forth. </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://www.linkedin.com/in/pablo-silva-rodrigo" target="_blank"
                       class="btn btn-link btn-neutral"><i
                            style="font-size:x-large" class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/pablorodrigo" target="_blank" class="btn btn-link btn-neutral"><i
                            style="font-size:x-large" class="fa-brands fa-github"></i></a>
                    <a href="https://drive.google.com/file/d/16cXqbIbgP2GKVYka4Ol21yRhXZARUfF_/view?usp=sharing"
                       target="_blank" class="btn btn-link btn-neutral"><i
                            style="font-size:x-large" class="fa-solid fa-id-card-clip"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
