<!DOCTYPE html>
<html lang="en">
<body>
<div id="projects" class="section section-dark text-center" style="background-color: #161940">
    <div class="container" style="max-width: 100%">
        <h2 class="title">Projects</h2>
        <div class="container-fluid">
            <div class="row">
                <!--Sidia samsung-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/sidia.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">SIDIA - Mobile</h6>
                            <label class="badge badge-pill badge-info">Android Operating System</label>
                            <label class="badge badge-pill badge-info">Java</label>
                            <label class="badge badge-pill badge-info">Json</label>
                            <label class="badge badge-pill badge-info">Xml</label>
                            <label class="badge badge-pill badge-info">Samsung Apps</label>
                            <p class="card-description">Develop and maintain features on Android platform of all Latin
                                Carriers for Samsung devices.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#sidia-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--WPL-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/wpl.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">WPL - web</h6>
                            <label class="badge badge-pill badge-info">Kotlin Supported</label>
                            <label class="badge badge-pill badge-info">Java Web</label>
                            <label class="badge badge-pill badge-info">Primefaces</label>
                            <label class="badge badge-pill badge-info">JSF/JPA/CDI</label>
                            <label class="badge badge-pill badge-info">Jaspersoft® Studio</label>
                            <label class="badge badge-pill badge-info">JUnit/Selenium</label>
                            <label class="badge badge-pill badge-info">Amazon S3</label>
                            <label class="badge badge-pill badge-info">Retrofit</label>
                            <label class="badge badge-pill badge-info">Sentry.IO</label>
                            <p class="card-description">ERP Project for the Waldemiro P. Luztoza & Co., Ltd company.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#wpl-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--vamospraonde-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/vamospraonde2.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">vamospraonde - mobile</h6>
                            <label class="badge badge-pill badge-info">Android Native</label>
                            <label class="badge badge-pill badge-info">Kotlin</label>
                            <label class="badge badge-pill badge-info">Java</label>
                            <label class="badge badge-pill badge-info">Firebase</label>
                            <label class="badge badge-pill badge-info">Amazon S3</label>
                            <label class="badge badge-pill badge-info">ReactNative</label>
                            <p class="card-description">A mobile application to provide information about events in
                                Manaus-BR.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#vamospraonde-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Mat lab-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/matlab.png')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">UFT - Web</h6>
                            <label class="badge badge-pill badge-info">React</label>
                            <label class="badge badge-pill badge-info">Python</label>
                            <p class="card-description">A prototype software that a small team developed for UFT
                                (Universidade Federal do Tocantins).</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#mathlab-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--notary's office-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/notaryoffice.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">notary's office - web</h6>
                            <label class="badge badge-pill badge-info">Java</label>
                            <label class="badge badge-pill badge-info">JavaScript</label>
                            <label class="badge badge-pill badge-info">Primefaces</label>
                            <label class="badge badge-pill badge-info">JSF/JPA/CDI</label>
                            <p class="card-description">Project for the notary's office called 2nd Tabelionato Carlos
                                Rocha.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#notary-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CrossRoad3DFree-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/game1.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">CrossRoad3DFree - desktop</h6>
                            <label class="badge badge-pill badge-info">C#</label>
                            <label class="badge badge-pill badge-info">Unity</label>
                            <label class="badge badge-pill badge-info">Blender</label>
                            <label class="badge badge-pill badge-info">MagicaVoxel</label>
                            <p class="card-description">Try to cross the road with this game developed for fun.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#cross-road-3d-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--MegaManRunner-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/game1.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">MegaManRunner - desktop</h6>
                            <label class="badge badge-pill badge-info">C#</label>
                            <label class="badge badge-pill badge-info">Unity</label>
                            <p class="card-description">Try to jump and slash to avoid obstacles this game developed for
                                fun.!.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#megaman-runner-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Digitalkeys-->
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/digitalkeys.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">Digital Keys market - web</h6>
                            <label class="badge badge-pill badge-info">Kotlin Web</label>
                            <label class="badge badge-pill badge-info">SpringBoot</label>
                            <label class="badge badge-pill badge-info">Thymeleaf</label>
                            <label class="badge badge-pill badge-info">NodeJS</label>
                            <label class="badge badge-pill badge-info">TypeScript</label>
                            <label class="badge badge-pill badge-info">Amazon EC2</label>

                            <p class="card-description">Personal project with a single page to retail digital keys.</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#digital-keys-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
