<!DOCTYPE html>
<html lang="en">
<body>
<div id="publications" class="section section-dark text-center" style="background-color: #3f1a3e">
    <div class="container" style="max-width: 100%">
        <h2 class="title">Publications</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" data-background="image"
                         style="background-image: url('src/assets/images/apilucene.jpeg')">
                        <div class="card-body">
                            <h6 class="card-category" style="margin: 10px">SUPPORT STRATEGY FOR INFORMATION RETRIEVAL
                                PROCESSING LUCENE API</h6>
                            <p class="card-description">Information Retrieval is a computer science area that deals with
                                automatic storage and retrieval of documents, which are of great importance due to the
                                universal use of language for communication. Getting...</p>
                            <div class="card-footer">
                                <button type="button" class="btn btn-round btn-danger card-link" data-bs-toggle="modal"
                                        data-bs-target="#luceneapi-modal">
                                    <i class="fa-solid fa-circle-info" aria-hidden="true"></i> Read more
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
