.title {
    margin-bottom: 35px;
}

.page-header .filter.filter-danger::after {
    background-color: rgba(0, 0, 0, 0.5);
}

#cd-vertical-nav .cd-dot {
    height: 20px;
    width: 20px;
}

#cd-vertical-nav .cd-label {
    font-size: 15px;
}

/*MODALS*/
.modal-content {
    background: #323131;
}


.modal-header {
    border-bottom: 1px solid #f5593d;
}

.modal-footer {
    border-top: 1px solid #f5593d;
}

.modal-title {
    color: #FFFFFF;
    font-weight: 900;
}

.modal-body {
    color: #FFFFFF;
}

.modal-text {
    text-align: justify;
}

.modal-text strong {
    text-decoration-line: underline;
}

.modal-title {
    text-transform: uppercase;
}

lottie-player {
    margin: 0 auto;
    width: 50%;
    align-self: center;
    height: 400px;
}


